*{
           .{
            color: aquamarine;
            font-size: 20px;
            text-transform: uppercase;
         }
       
        body{
            background-color: chocolate;
        } 
}