body{
background-color: blueviolet;
background-image: url(https://static.vecteezy.com/system/resources/thumbnails/014/028/718/small/majestic-closeup-view-of-calm-sea-water-waves-with-orange-sunrise-sunset-sunlight-tropical-island-beach-landscape-exotic-shore-coast-summer-vacation-holiday-amazing-nature-scenic-relax-paradise-photo.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;


}